<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTO</title>
    <link rel="stylesheet" href="../STATIC/CSS/STYLES.CSS">
    
    

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="https://www.moodactive.com.co/cdn/shop/files/ChatGPT_Image_22_jun_2026_10_36_09_a.m..png?v=1782751154" class="d-block w-100" alt="Buzo" style="max-height: 500px; object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="https://brklbrooklyn.com/cdn/shop/files/11_1_ad6ae5df-6667-4e13-bd12-74a57c0dbd51.jpg?v=1788753473&width=800&s=" class="d-block w-100" alt="Camiseta" style="max-height: 500px; object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="https://acdn-us.mitiendanube.com/stores/004/997/328/products/img_8948-82c3bd0d06c7de3b2217532786112873-1024-1024.webp" class="d-block w-100" alt="Pantalon" style="max-height: 500px; object-fit: cover;">
            </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">CORREO</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Escriba su correo sin errores </div>
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">NOMBRES</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">Escriba su nombre completo</div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">OBSERVACIONES</label>
    <label for=""></label><br>
                <textarea name="" id="" rows="10" required style="width: 100%; padding: 8px; margin-bottom: 10px;">
                        </textarea><br>
    </div>


    
<section class="py-5 bg-white">
    <div class="container">
    <h2 class="text-center mb-4">ASOCIADOS</h2>
     <img src="https://1000logos.net/wp-content/uploads/2022/07/DC-Logo.png" alt="" class="mx-4" height="50px">
    <img src="https://images.seeklogo.com/logo-png/9/2/nike-logo-png_seeklogo-99478.png" alt="" class="mx-4" height="50px">
    <img src="https://visto.com.co/wp-content/uploads/2026/07/subterra.png" alt="" class="mx-4" height="50px">
    <!-- DUPLICADO -->
    <img src="https://1000logos.net/wp-content/uploads/2022/07/DC-Logo.png" alt="" class="mx-4" height="50px">
    <img src="https://images.seeklogo.com/logo-png/9/2/nike-logo-png_seeklogo-99478.png" alt="" class="mx-4" height="50px">
    <img src="https://visto.com.co/wp-content/uploads/2026/07/subterra.png" alt="" class="mx-4" height="50px">
    <img src="https://1000logos.net/wp-content/uploads/2022/07/DC-Logo.png" alt="" class="mx-4" height="50px">
    <img src="https://images.seeklogo.com/logo-png/9/2/nike-logo-png_seeklogo-99478.png" alt="" class="mx-4" height="50px">
    <img src="https://visto.com.co/wp-content/uploads/2026/07/subterra.png" alt="" class="mx-4" height="50px">
    <img src="https://1000logos.net/wp-content/uploads/2022/07/DC-Logo.png" alt="" class="mx-4" height="50px">
    <img src="https://images.seeklogo.com/logo-png/9/2/nike-logo-png_seeklogo-99478.png" alt="" class="mx-4" height="50px">
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>






    <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </div>

    </div>
    </div>
    </section>
    <!-- Footer con Redes Sociales -->
    <!-- septima part -->
    <footer class="bg-dark text-white text-center py-4">
    <p class="mb-2">&copy;Leydi Barreto2026  </p>
    <div class="social-icons">
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
    
    </div>
    


<!-- SECCION DE LINES -->
    <!-- segunda part -->

    <link rel="shortcut icon" href="" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a1124a3708.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


    <!-- MENU PRINCIPAL -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="../INDEX.HTML">INICIO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item">
    <li class="nav-item">
    <a class="nav-link" href="../TEMPLATES/servicios.html">SERVICIOS</a>
    </li>

    
    

    